a {display:inline;
    line-height:30px;
    background-color:green;
    height:300px;
    width:800px;
    padding:10px;
    border-radius:8px;
    color:white; 
}

li:hover{display:inline;
    line-height:30px;
    background-color:grey;
    height:300px;
    width:800px;
    padding:10px;
    border-radius:8px;
    color:white; 
}


li2{display:inline;
    line-height:30px;
    background-color:green;
 height:300px;
    width:800px;
    padding:10px;
    border-radius:8px;
    color:white; 
}
li2:hover {display:inline;
    line-height:30px;
    background-color:white;
    height:300px;
    width:800px;
    padding:10px;
    border-radius:8px;
    color:white; }